body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #977d7d;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    position:relative;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    
}

input,
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #3c3838;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #541818;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.success {
    color: #541818;
}

.error {
    color: #f44336;
}
.footer{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}